*.log
.DS_Store

node_modules
.sass_cache
.tmp
.web

local.properties

ant-build
ant-gen
bin
gen

*.scssc
config.codekit

bower_components

cordova/platforms/android/assets/www/*
!cordova/platforms/android/assets/www/.gitkeep
cordova/platforms/ios/www/*
cordova/platforms/ios/www/.gitkeep
cordova/www/*
cordova/www/.gitkeep

cordova/platforms/android/res/**/icon.png
cordova/platforms/ios/WriteUpp/Resources/icons/icon*.png

.Trashes

*.swp
*.lock
*~.nib

DerivedData/
build/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata
*.moved-aside
*.xccheckout
